<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') %>
</head>
<body>
    <%- include('layouts/header') %>
    
    <div class="row">
        <div class="col-md-12">
            <h2>📁 Categories
                <a href="/categories/add" class="btn btn-success pull-right">Add Category</a>
            </h2>
            <hr />
            <% if (categories.length > 0) { %> <!-- typeof categories !== 'undefined' && categories && -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Category ID</th>
                            <th>Category Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% categories.forEach(function(category) { %>
                            <tr>
                                <td>
                                    <a href="/items?category=<%= category.id %>">
                                        <%= category.id %>
                                    </a>
                                </td>
                                <td>
                                    <a href="/items?category=<%= category.id %>">
                                        <%= category.category || 'Unnamed Category'%>
                                    </a>
                                </td>
                                <td class="text-end">
                                    <a href="/categories/delete/<%= category.id %>" 
                                       class="btn btn-danger btn-sm"
                                       onclick="return confirm('Are you sure you want to delete this category?')">
                                        Remove
                                    </a>
                                </td>
                            </tr>
                        <% }); %>     
                    </tbody>
                </table>
            <% } else { %>
                <div class="col-md-12">
                    <strong>No categories found</strong>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>
