<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') %>
</head>
<body>
    <%- include('layouts/header') %>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center p-3">
                <h2>🗃️ Items
                    <a href="/items/add" class="btn btn-success pull-right">Add Post</a>
                </h2>
                <% if (isFiltered) { %>
                        <a href="/items" style="background-color:black" class="btn btn-secondary">🔙 Back to All Items</a>
                <% } %>
            </div>
            <hr style="margin: 0rem 0;" />
            <div class="table-responsive">
                <% if(message) { %>
                    <div class="col-md-12">
                        <strong><%= message %></strong>
                    </div>
                <% } else if (items && items.length > 0) { %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Item ID</th>
                                <th>Title</th>
                                <th>Post Date</th>
                                <th>Price</th>
                                <th>Category</th>
                                <th>Published</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% items.forEach(function(item) { %>
                                <tr>
                                    <td><%= item.id %></td>
                                    <td><%= item.title %></td>
                                    <td><%= item.postDate %></td>
                                    <td>$<%= item.price %></td>
                                    <td>
                                        <a href="/items?category=<%= item.category %>">
                                            <%= item.category %>
                                        </a>
                                    </td>
                                    <td><%= item.published %></td>
                                    <td class="text-end">
                                        <a href="/items/delete/<%= item.id %>" 
                                            class="btn btn-danger btn-sm"
                                            onclick="return confirm('Are you sure you want to delete this item?')">
                                             Remove
                                         </a>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                <% } else { %>
                    <div class="col-md-12">
                        <strong>No items found</strong>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>