<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head') %>
</head>
<body>
    <%- include('layouts/header') %>
    <div class="row">
        <section class="main col-md-9">
          <% if (data.items) { %>
              <item>
                    <h2>🛒 Shop
                                
                    </h2>
                    <hr />
                    <div class="row border custom-rounded">
                        <div class="col-4">
                            <h2 style="padding: 15px;"><%= data.item.title %></h2>
                            <img
                                src="<%= data.item.featureImage  || '/images/default-image.jpg' %>"
                                alt="feature Image"
                                style="width: auto; height: 200px; object-fit: contain; padding-left:70px; padding-bottom: 20px;"
                                class="img-fluid product-image"
                            />
                            
                        </div>
                        <div class="col-8"><br />
                            <br />
                            <div class="row">
                                <div class="col-12">
                                    <strong>Description:</strong>
                                        <%= data.item.body %>
                                    <br /><br />
                                    <strong>Price:</strong>
                                    $<%= data.item.price %><br />
                                    <strong>Category:</strong>
                                    <% data.categories.forEach(function(category) { %>
                                        <% if (category.id === data.item.category) { %>
                                            <%= category.category %>
                                        <% } %>
                                    <% }); %>
                                    <strong>Last Updated:</strong>
                                    <%= data.item.postDate %>
                                </div>
                            </div>
                        </div>
                    </div>
                </item>
          <% } else { %>
              <div class="col-md-12 text-center">
              <h2><%= data.message %></h2>
              <p>Please try another Post / Category</p>
              </div>
          <% } %>
        </section>
      
        <aside class="col-md-3">
          <br /><br />
          <% if (data.items) { %>
              <h4>🗃️ Items</h4>
              <ul class="list-group">
              <% data.items.forEach(function(item) { %>
                  <a href="/shop/<%= item.id %>?category=<%= data.viewingCategory %>" class="list-group-item"><%= item.title %></a>
              <% }); %>
              </ul>
          <% } %>
          <br />
          <% if (data.categories) { %>
            <h4>📁 Categories</h4>
            
            <ul class="list-group">
                <% data.categories.forEach(function(category) { %>      
                <a href="/shop?category=<%= category.id %>" class="list-group-item"><%= category.category %></a>
                <% }); %>
            </ul>
          <% } %>
        </aside>
      </div>      
</body>
