<!DOCTYPE html>
<head>
    <%- include('layouts/head') %>
</head>
<body>
    <%- include('layouts/header') %>
    <h2>📜 <%= session.user.userName %> History</h2>
    <hr />
    <form action="/userHistory" method="POST">
        <table class="table" style="width: auto;">
            <thead>
                <tr>
                    <th>Login Date/Time</th>
                    <th>Client Information</th>
                </tr>
            </thead>
            <tbody>
                <% if (session.user.loginHistory && session.user.loginHistory.length > 0) { %>
                    <% session.user.loginHistory.forEach(function(history) { %>
                        <tr>
                            <td><%= history.dateTime %></td>
                            <td><%= history.userAgent %></td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="2">No login history available</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </form>
</body>
</html>